.contact .title {
    text-align: center;
    font-size: 44px;
    font-family: 'Poppins';
    letter-spacing: 3px;
    margin: 50px 0;
}

.contact .service {
    background-color: #f6f3ef;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.contact .service__containers{
    display: flex;
    justify-content: space-evenly;

}

.contact .customer_service {
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins';
    letter-spacing: 3px;
    margin: 50px 0;
    position: relative;
}

.contact .customer_service::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-25%);
}

.contact .container_1 {
    color: #bc4c2a;
    font-family: "GFSDidot";
    font-size: 28px;
    grid-template-rows: 1fr 1fr;
    font-style: italic;
}

.contact .paragraph_1 {
    color: black;
    font-style: normal;
    font-family: "Courier";
    font-size: 17px;
}

.contact .container_2 {
    color: #bc4c2a;
    font-family: "GFSDidot";
    font-size: 28px;
    grid-template-rows: 1fr 1fr;
    font-style: italic;
    margin-left: 100px;
}

.contact .paragraph_2 {
    color: black;
    font-style: normal;
    font-family: "Courier";
    font-size: 17px;
}

.contact .container_3 {
    color: #bc4c2a;
    font-family: "GFSDidot";
    font-size: 28px;
    grid-template-rows: 1fr 1fr;
    font-style: italic;
    margin-left: 100px;
}

.contact .paragraph_3 {
    color: black;
    font-style: normal;
    font-family: "Courier";
    font-size: 17px;
}