.completed__container {
  display: grid;
  grid-template-columns: 8fr 4fr;
  padding: 12px;
  gap: 30px;
}

.completed__container .left__side {
  margin: 30px 0;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.completed__container .left__side img.celebration {
  width: 200px;
}

.completed__container .right__side {
  margin: 30px 0;
  padding: 12px;
  background-color: #fafafa;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.completed__container .right__side .product__row {
  display: flex;
  margin: 3px;
  display: grid;
  grid-template-columns: 3fr 9fr;
}

.completed__container .right__side .product__row img {
  width: 120px;
  min-height: 40px;
  max-height: 64px;
  object-fit: cover;
  align-self: flex-start;
}

.completed__container .right__side .content {
  display: flex;
  flex-direction: column;
}

.completed__container .right__side .content h3 {
  margin: 2px 5px;
}

.completed__container .right__side .content p {
  margin: 0 5px;
  color: #666;
}
.custom-button {
  width: 110px; /* Adjust width as needed */
  height: 37px;
  margin: 15px 5px;
  font-size: 16px;
  border: 1px solid #bc4c2a;
  background-color: transparent;
  border-radius: 2px;
  display: inline;
  color: #bc4c2a;
  cursor: pointer;
  font-family: "Poppins";
  transition: background-color 0.4s, color 0.5s;
}

.custom-button:hover {
  background-color: #bc4c2a;
  color: white;
  transition: background-color 0.4s, color 0.5s;
}
