.product__card {
    width: 330px;
    height: 520px;
    background-color: #f6f3ef;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 3px;
}

.product__card .image {
    margin:10px;
    padding: 0;
    min-width: 230px;
    max-width: 280px;
    min-height: 280px;
    max-height: 320px;
    border-radius: 10px;
    overflow: hidden;
}

.product__card .product__title {
    font-family: 'inter';
    margin: 0;
    color: #222
}

.product__card .product__price {
    color: #8c4a2e;
    font-weight: 700;
}