.entity * {
    box-sizing: border-box;
}

.entity body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.entity nav ul {
    list-style-type: none;
    display: flex;
}

.entity nav ul li {
    padding: 5px 17px;
    font-size: 18px;
    margin: 5px;
    font-weight: 600;
}

.entity nav ul li:hover {
    color: #FFC515;
}

.entity nav ul a {
    text-decoration: none;
    color: black;
}

.entity .add {
    width: 150px;
    height: 40px;
    background-color: #FFC515;
    margin: 10px 0;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    padding-top: 7px;
}

.entity .dashboard__link {
    color: #FFC515;
}

.entity .add a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    font-weight: 700;
}

.entity .navbar {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.entity .container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
}

.entity h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

.entity form {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 40px;
}

.entity table {
    border-collapse: collapse;
    width: 100%;
}

.entity th, .entity
td {
    text-align: left;
    padding: 12px 15px;
}

.entity th {
    background-color: black;
    color: #FFC515;
    font-weight: 600;
}

.entity tr:nth-child(even) {
    background-color: #f7f7f7;
}

.entity a.btn {
    margin-right: 10px;
    text-decoration: none;
    font-weight: 600;
    padding: 4px 8px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.entity .change {
    min-width: 180px;
}

.entity .delete__button {
    color: #f55555;
    background-color: #fff;
    border: 1px solid #f55555;
}

.entity .delete__button:hover {
    color: #fff;
    background-color: #f55050;
}

.entity .edit__button {
    color: #3384aa;
    background-color: #fff;
    border: 1px solid #3384aa;
}

.entity .edit__button:hover {
    color: #fff;
    background-color: #3c84ab;
}