.shop__all {
  margin-bottom: 80px;
  min-width: 330px;
}
.shop__all .title {
  text-align: center;
  font-size: 44px;
  font-family: "Poppins";
  letter-spacing: 3px;
  margin: 50px 0;
}

.shop__all .search {
  margin: 40px auto;
  display: block;
  padding: 0 15px;
  font-size: 18px;
  border: 2px solid #bc4c2a;
  border-radius: 28px;
  height: 53px;
  width: 50%;
  min-width: 330px;
  color: #bc4c2a;
  box-sizing: border-box;

}

.shop__all .search:hover,
.shop__all .search:focus {
  outline: 0;
  border-bottom: 3px solid #bc4c2a;
}

.shop__all .search::placeholder {
  color: inherit;
  font-size: 19px;
}

.shop__all .filters__and__products .filters {
  margin-right: 15px;
}

.shop__all .filters__and__products .filters h1 {
  font-size: 24px;
  font-weight: 400;
  font-family: "Inter";
}

.shop__all .filters__and__products {
  padding: 0 4%;
  display: grid;
  grid-template-columns: 2.5fr 9fr;
}

.shop__all .filters__and__products .price input {
  display: inline;
  height: 35px;
  width: 115px;
}

.shop__all .filters__and__products .price span {
  width: 20px;
}

.shop__all .filters__and__products .products {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shop__all .filters__and__products .products .prods {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.shop__all .price p {
  margin: 2px;
  display: inline;
}

.shop__all .products .load__more {
  width: 180px;
  height: 35px;
  border: 1px solid #bc4c2a;
  color: #bc4c2a;
  background-color: transparent;
  cursor: pointer;
  margin: 30px 0;
  box-shadow: 0 0 3px;
}

.shop__all .products .load__more:hover {
  background-color: #bc4c2a;
  color: white;
  transition: background-color 0.5s, color 0.5s;
}
