.bestsellers {
    display: flex;
    flex-direction: column;
}

.bestsellers .best__sellers__title {
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins';
    letter-spacing: 3px;
}

.bestsellers .products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    margin: 20px 0;
}

.bestsellers .shop__all {
    width: 240px;
    height: 60px;
    font-size: 15px;
    border: 1px solid #bc4c2a;
    background-color: transparent;
    margin: 20px auto;
    color: #bc4c2a;
    cursor: pointer;
    font-family: 'Poppins';
}

.bestsellers .shop__all:hover {
    background-color: #bc4c2a;
    color: white;
    transition: background-color 0.5s, color 0.5s;
}