.slider-container {
  position: relative;
  width: 88%;
  margin: 0 auto;
}

.slider-container .slider-image {
  width: 100%;
  height: auto;
  max-height: 750px;
}

.slider-container .slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.slider-container .prev {
  padding: 10px;
  left: 10px;
}

.slider-container .slider-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-text {
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.slider-container .next {
  padding: 10px;

  right: 10px;
}

.slider-container .prev:hover,
.slider-container .next:hover {
  background-color: rgba(30, 30, 30, 0.2);
}
